/*Challenge Media queries*/


	@media screen and (max-width: 1680px) {

		html {
			font-size: 14pt;
		}

	}

	@media screen and (max-width: 1280px) {

		html {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 736px) {

		html {
			font-size: 11pt;
		}

	}

	@media screen and (max-width: 360px) {

		html {
			font-size: 10pt;
		}

	}


	@media screen and (max-width: 736px) {

		p.major {
			font-size: 1.1rem;
		}

		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.25rem;
		}

		h4 {
			font-size: 1rem;
		}

	}



	@media screen and (max-width: 1680px) {

		.row {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row > * {
				box-sizing: border-box;
			}

			.row.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row.aln-left {
				justify-content: flex-start;
			}

			.row.aln-center {
				justify-content: center;
			}

			.row.aln-right {
				justify-content: flex-end;
			}

			.row.aln-top {
				align-items: flex-start;
			}

			.row.aln-middle {
				align-items: center;
			}

			.row.aln-bottom {
				align-items: flex-end;
			}

			.row > .imp-xlarge {
				order: -1;
			}

			.row > .col-1-xlarge {
				width: 8.33333%;
			}

			.row > .off-1-xlarge {
				margin-left: 8.33333%;
			}

			.row > .col-2-xlarge {
				width: 16.66667%;
			}

			.row > .off-2-xlarge {
				margin-left: 16.66667%;
			}

			.row > .col-3-xlarge {
				width: 25%;
			}

			.row > .off-3-xlarge {
				margin-left: 25%;
			}

			.row > .col-4-xlarge {
				width: 33.33333%;
			}

			.row > .off-4-xlarge {
				margin-left: 33.33333%;
			}

			.row > .col-5-xlarge {
				width: 41.66667%;
			}

			.row > .off-5-xlarge {
				margin-left: 41.66667%;
			}

			.row > .col-6-xlarge {
				width: 50%;
			}

			.row > .off-6-xlarge {
				margin-left: 50%;
			}

			.row > .col-7-xlarge {
				width: 58.33333%;
			}

			.row > .off-7-xlarge {
				margin-left: 58.33333%;
			}

			.row > .col-8-xlarge {
				width: 66.66667%;
			}

			.row > .off-8-xlarge {
				margin-left: 66.66667%;
			}

			.row > .col-9-xlarge {
				width: 75%;
			}

			.row > .off-9-xlarge {
				margin-left: 75%;
			}

			.row > .col-10-xlarge {
				width: 83.33333%;
			}

			.row > .off-10-xlarge {
				margin-left: 83.33333%;
			}

			.row > .col-11-xlarge {
				width: 91.66667%;
			}

			.row > .off-11-xlarge {
				margin-left: 91.66667%;
			}

			.row > .col-12-xlarge {
				width: 100%;
			}

			.row > .off-12-xlarge {
				margin-left: 100%;
			}

			.row.gtr-0 {
				margin-top: 0;
				margin-left: 0rem;
			}

				.row.gtr-0 > * {
					padding: 0 0 0 0rem;
				}

				.row.gtr-0.gtr-uniform {
					margin-top: 0rem;
				}

					.row.gtr-0.gtr-uniform > * {
						padding-top: 0rem;
					}

			.row.gtr-25 {
				margin-top: 0;
				margin-left: -0.5rem;
			}

				.row.gtr-25 > * {
					padding: 0 0 0 0.5rem;
				}

				.row.gtr-25.gtr-uniform {
					margin-top: -0.5rem;
				}

					.row.gtr-25.gtr-uniform > * {
						padding-top: 0.5rem;
					}

			.row.gtr-50 {
				margin-top: 0;
				margin-left: -1rem;
			}

				.row.gtr-50 > * {
					padding: 0 0 0 1rem;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -1rem;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 1rem;
					}

			.row {
				margin-top: 0;
				margin-left: -2rem;
			}

				.row > * {
					padding: 0 0 0 2rem;
				}

				.row.gtr-uniform {
					margin-top: -2rem;
				}

					.row.gtr-uniform > * {
						padding-top: 2rem;
					}

			.row.gtr-150 {
				margin-top: 0;
				margin-left: -3rem;
			}

				.row.gtr-150 > * {
					padding: 0 0 0 3rem;
				}

				.row.gtr-150.gtr-uniform {
					margin-top: -3rem;
				}

					.row.gtr-150.gtr-uniform > * {
						padding-top: 3rem;
					}

			.row.gtr-200 {
				margin-top: 0;
				margin-left: -4rem;
			}

				.row.gtr-200 > * {
					padding: 0 0 0 4rem;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -4rem;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 4rem;
					}

	}

	@media screen and (max-width: 1280px) {

		.row {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row > * {
				box-sizing: border-box;
			}

			.row.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row.aln-left {
				justify-content: flex-start;
			}

			.row.aln-center {
				justify-content: center;
			}

			.row.aln-right {
				justify-content: flex-end;
			}

			.row.aln-top {
				align-items: flex-start;
			}

			.row.aln-middle {
				align-items: center;
			}

			.row.aln-bottom {
				align-items: flex-end;
			}

			.row > .imp-large {
				order: -1;
			}

			.row > .col-1-large {
				width: 8.33333%;
			}

			.row > .off-1-large {
				margin-left: 8.33333%;
			}

			.row > .col-2-large {
				width: 16.66667%;
			}

			.row > .off-2-large {
				margin-left: 16.66667%;
			}

			.row > .col-3-large {
				width: 25%;
			}

			.row > .off-3-large {
				margin-left: 25%;
			}

			.row > .col-4-large {
				width: 33.33333%;
			}

			.row > .off-4-large {
				margin-left: 33.33333%;
			}

			.row > .col-5-large {
				width: 41.66667%;
			}

			.row > .off-5-large {
				margin-left: 41.66667%;
			}

			.row > .col-6-large {
				width: 50%;
			}

			.row > .off-6-large {
				margin-left: 50%;
			}

			.row > .col-7-large {
				width: 58.33333%;
			}

			.row > .off-7-large {
				margin-left: 58.33333%;
			}

			.row > .col-8-large {
				width: 66.66667%;
			}

			.row > .off-8-large {
				margin-left: 66.66667%;
			}

			.row > .col-9-large {
				width: 75%;
			}

			.row > .off-9-large {
				margin-left: 75%;
			}

			.row > .col-10-large {
				width: 83.33333%;
			}

			.row > .off-10-large {
				margin-left: 83.33333%;
			}

			.row > .col-11-large {
				width: 91.66667%;
			}

			.row > .off-11-large {
				margin-left: 91.66667%;
			}

			.row > .col-12-large {
				width: 100%;
			}

			.row > .off-12-large {
				margin-left: 100%;
			}

			.row.gtr-0 {
				margin-top: 0;
				margin-left: 0rem;
			}

				.row.gtr-0 > * {
					padding: 0 0 0 0rem;
				}

				.row.gtr-0.gtr-uniform {
					margin-top: 0rem;
				}

					.row.gtr-0.gtr-uniform > * {
						padding-top: 0rem;
					}

			.row.gtr-25 {
				margin-top: 0;
				margin-left: -0.5rem;
			}

				.row.gtr-25 > * {
					padding: 0 0 0 0.5rem;
				}

				.row.gtr-25.gtr-uniform {
					margin-top: -0.5rem;
				}

					.row.gtr-25.gtr-uniform > * {
						padding-top: 0.5rem;
					}

			.row.gtr-50 {
				margin-top: 0;
				margin-left: -1rem;
			}

				.row.gtr-50 > * {
					padding: 0 0 0 1rem;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -1rem;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 1rem;
					}

			.row {
				margin-top: 0;
				margin-left: -2rem;
			}

				.row > * {
					padding: 0 0 0 2rem;
				}

				.row.gtr-uniform {
					margin-top: -2rem;
				}

					.row.gtr-uniform > * {
						padding-top: 2rem;
					}

			.row.gtr-150 {
				margin-top: 0;
				margin-left: -3rem;
			}

				.row.gtr-150 > * {
					padding: 0 0 0 3rem;
				}

				.row.gtr-150.gtr-uniform {
					margin-top: -3rem;
				}

					.row.gtr-150.gtr-uniform > * {
						padding-top: 3rem;
					}

			.row.gtr-200 {
				margin-top: 0;
				margin-left: -4rem;
			}

				.row.gtr-200 > * {
					padding: 0 0 0 4rem;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -4rem;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 4rem;
					}

	}

	@media screen and (max-width: 980px) {

		.row {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row > * {
				box-sizing: border-box;
			}

			.row.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row.aln-left {
				justify-content: flex-start;
			}

			.row.aln-center {
				justify-content: center;
			}

			.row.aln-right {
				justify-content: flex-end;
			}

			.row.aln-top {
				align-items: flex-start;
			}

			.row.aln-middle {
				align-items: center;
			}

			.row.aln-bottom {
				align-items: flex-end;
			}

			.row > .imp-medium {
				order: -1;
			}

			.row > .col-1-medium {
				width: 8.33333%;
			}

			.row > .off-1-medium {
				margin-left: 8.33333%;
			}

			.row > .col-2-medium {
				width: 16.66667%;
			}

			.row > .off-2-medium {
				margin-left: 16.66667%;
			}

			.row > .col-3-medium {
				width: 25%;
			}

			.row > .off-3-medium {
				margin-left: 25%;
			}

			.row > .col-4-medium {
				width: 33.33333%;
			}

			.row > .off-4-medium {
				margin-left: 33.33333%;
			}

			.row > .col-5-medium {
				width: 41.66667%;
			}

			.row > .off-5-medium {
				margin-left: 41.66667%;
			}

			.row > .col-6-medium {
				width: 50%;
			}

			.row > .off-6-medium {
				margin-left: 50%;
			}

			.row > .col-7-medium {
				width: 58.33333%;
			}

			.row > .off-7-medium {
				margin-left: 58.33333%;
			}

			.row > .col-8-medium {
				width: 66.66667%;
			}

			.row > .off-8-medium {
				margin-left: 66.66667%;
			}

			.row > .col-9-medium {
				width: 75%;
			}

			.row > .off-9-medium {
				margin-left: 75%;
			}

			.row > .col-10-medium {
				width: 83.33333%;
			}

			.row > .off-10-medium {
				margin-left: 83.33333%;
			}

			.row > .col-11-medium {
				width: 91.66667%;
			}

			.row > .off-11-medium {
				margin-left: 91.66667%;
			}

			.row > .col-12-medium {
				width: 100%;
			}

			.row > .off-12-medium {
				margin-left: 100%;
			}

			.row.gtr-0 {
				margin-top: 0;
				margin-left: 0rem;
			}

				.row.gtr-0 > * {
					padding: 0 0 0 0rem;
				}

				.row.gtr-0.gtr-uniform {
					margin-top: 0rem;
				}

					.row.gtr-0.gtr-uniform > * {
						padding-top: 0rem;
					}

			.row.gtr-25 {
				margin-top: 0;
				margin-left: -0.5rem;
			}

				.row.gtr-25 > * {
					padding: 0 0 0 0.5rem;
				}

				.row.gtr-25.gtr-uniform {
					margin-top: -0.5rem;
				}

					.row.gtr-25.gtr-uniform > * {
						padding-top: 0.5rem;
					}

			.row.gtr-50 {
				margin-top: 0;
				margin-left: -1rem;
			}

				.row.gtr-50 > * {
					padding: 0 0 0 1rem;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -1rem;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 1rem;
					}

			.row {
				margin-top: 0;
				margin-left: -2rem;
			}

				.row > * {
					padding: 0 0 0 2rem;
				}

				.row.gtr-uniform {
					margin-top: -2rem;
				}

					.row.gtr-uniform > * {
						padding-top: 2rem;
					}

			.row.gtr-150 {
				margin-top: 0;
				margin-left: -3rem;
			}

				.row.gtr-150 > * {
					padding: 0 0 0 3rem;
				}

				.row.gtr-150.gtr-uniform {
					margin-top: -3rem;
				}

					.row.gtr-150.gtr-uniform > * {
						padding-top: 3rem;
					}

			.row.gtr-200 {
				margin-top: 0;
				margin-left: -4rem;
			}

				.row.gtr-200 > * {
					padding: 0 0 0 4rem;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -4rem;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 4rem;
					}

	}

	@media screen and (max-width: 736px) {

		.row {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row > * {
				box-sizing: border-box;
			}

			.row.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row.aln-left {
				justify-content: flex-start;
			}

			.row.aln-center {
				justify-content: center;
			}

			.row.aln-right {
				justify-content: flex-end;
			}

			.row.aln-top {
				align-items: flex-start;
			}

			.row.aln-middle {
				align-items: center;
			}

			.row.aln-bottom {
				align-items: flex-end;
			}

			.row > .imp-small {
				order: -1;
			}

			.row > .col-1-small {
				width: 8.33333%;
			}

			.row > .off-1-small {
				margin-left: 8.33333%;
			}

			.row > .col-2-small {
				width: 16.66667%;
			}

			.row > .off-2-small {
				margin-left: 16.66667%;
			}

			.row > .col-3-small {
				width: 25%;
			}

			.row > .off-3-small {
				margin-left: 25%;
			}

			.row > .col-4-small {
				width: 33.33333%;
			}

			.row > .off-4-small {
				margin-left: 33.33333%;
			}

			.row > .col-5-small {
				width: 41.66667%;
			}

			.row > .off-5-small {
				margin-left: 41.66667%;
			}

			.row > .col-6-small {
				width: 50%;
			}

			.row > .off-6-small {
				margin-left: 50%;
			}

			.row > .col-7-small {
				width: 58.33333%;
			}

			.row > .off-7-small {
				margin-left: 58.33333%;
			}

			.row > .col-8-small {
				width: 66.66667%;
			}

			.row > .off-8-small {
				margin-left: 66.66667%;
			}

			.row > .col-9-small {
				width: 75%;
			}

			.row > .off-9-small {
				margin-left: 75%;
			}

			.row > .col-10-small {
				width: 83.33333%;
			}

			.row > .off-10-small {
				margin-left: 83.33333%;
			}

			.row > .col-11-small {
				width: 91.66667%;
			}

			.row > .off-11-small {
				margin-left: 91.66667%;
			}

			.row > .col-12-small {
				width: 100%;
			}

			.row > .off-12-small {
				margin-left: 100%;
			}

			.row.gtr-0 {
				margin-top: 0;
				margin-left: 0rem;
			}

				.row.gtr-0 > * {
					padding: 0 0 0 0rem;
				}

				.row.gtr-0.gtr-uniform {
					margin-top: 0rem;
				}

					.row.gtr-0.gtr-uniform > * {
						padding-top: 0rem;
					}

			.row.gtr-25 {
				margin-top: 0;
				margin-left: -0.5rem;
			}

				.row.gtr-25 > * {
					padding: 0 0 0 0.5rem;
				}

				.row.gtr-25.gtr-uniform {
					margin-top: -0.5rem;
				}

					.row.gtr-25.gtr-uniform > * {
						padding-top: 0.5rem;
					}

			.row.gtr-50 {
				margin-top: 0;
				margin-left: -1rem;
			}

				.row.gtr-50 > * {
					padding: 0 0 0 1rem;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -1rem;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 1rem;
					}

			.row {
				margin-top: 0;
				margin-left: -2rem;
			}

				.row > * {
					padding: 0 0 0 2rem;
				}

				.row.gtr-uniform {
					margin-top: -2rem;
				}

					.row.gtr-uniform > * {
						padding-top: 2rem;
					}

			.row.gtr-150 {
				margin-top: 0;
				margin-left: -3rem;
			}

				.row.gtr-150 > * {
					padding: 0 0 0 3rem;
				}

				.row.gtr-150.gtr-uniform {
					margin-top: -3rem;
				}

					.row.gtr-150.gtr-uniform > * {
						padding-top: 3rem;
					}

			.row.gtr-200 {
				margin-top: 0;
				margin-left: -4rem;
			}

				.row.gtr-200 > * {
					padding: 0 0 0 4rem;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -4rem;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 4rem;
					}

	}

	@media screen and (max-width: 480px) {

		.row {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row > * {
				box-sizing: border-box;
			}

			.row.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row.aln-left {
				justify-content: flex-start;
			}

			.row.aln-center {
				justify-content: center;
			}

			.row.aln-right {
				justify-content: flex-end;
			}

			.row.aln-top {
				align-items: flex-start;
			}

			.row.aln-middle {
				align-items: center;
			}

			.row.aln-bottom {
				align-items: flex-end;
			}

			.row > .imp-xsmall {
				order: -1;
			}

			.row > .col-1-xsmall {
				width: 8.33333%;
			}

			.row > .off-1-xsmall {
				margin-left: 8.33333%;
			}

			.row > .col-2-xsmall {
				width: 16.66667%;
			}

			.row > .off-2-xsmall {
				margin-left: 16.66667%;
			}

			.row > .col-3-xsmall {
				width: 25%;
			}

			.row > .off-3-xsmall {
				margin-left: 25%;
			}

			.row > .col-4-xsmall {
				width: 33.33333%;
			}

			.row > .off-4-xsmall {
				margin-left: 33.33333%;
			}

			.row > .col-5-xsmall {
				width: 41.66667%;
			}

			.row > .off-5-xsmall {
				margin-left: 41.66667%;
			}

			.row > .col-6-xsmall {
				width: 50%;
			}

			.row > .off-6-xsmall {
				margin-left: 50%;
			}

			.row > .col-7-xsmall {
				width: 58.33333%;
			}

			.row > .off-7-xsmall {
				margin-left: 58.33333%;
			}

			.row > .col-8-xsmall {
				width: 66.66667%;
			}

			.row > .off-8-xsmall {
				margin-left: 66.66667%;
			}

			.row > .col-9-xsmall {
				width: 75%;
			}

			.row > .off-9-xsmall {
				margin-left: 75%;
			}

			.row > .col-10-xsmall {
				width: 83.33333%;
			}

			.row > .off-10-xsmall {
				margin-left: 83.33333%;
			}

			.row > .col-11-xsmall {
				width: 91.66667%;
			}

			.row > .off-11-xsmall {
				margin-left: 91.66667%;
			}

			.row > .col-12-xsmall {
				width: 100%;
			}

			.row > .off-12-xsmall {
				margin-left: 100%;
			}

			.row.gtr-0 {
				margin-top: 0;
				margin-left: 0rem;
			}

				.row.gtr-0 > * {
					padding: 0 0 0 0rem;
				}

				.row.gtr-0.gtr-uniform {
					margin-top: 0rem;
				}

					.row.gtr-0.gtr-uniform > * {
						padding-top: 0rem;
					}

			.row.gtr-25 {
				margin-top: 0;
				margin-left: -0.5rem;
			}

				.row.gtr-25 > * {
					padding: 0 0 0 0.5rem;
				}

				.row.gtr-25.gtr-uniform {
					margin-top: -0.5rem;
				}

					.row.gtr-25.gtr-uniform > * {
						padding-top: 0.5rem;
					}

			.row.gtr-50 {
				margin-top: 0;
				margin-left: -1rem;
			}

				.row.gtr-50 > * {
					padding: 0 0 0 1rem;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -1rem;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 1rem;
					}

			.row {
				margin-top: 0;
				margin-left: -2rem;
			}

				.row > * {
					padding: 0 0 0 2rem;
				}

				.row.gtr-uniform {
					margin-top: -2rem;
				}

					.row.gtr-uniform > * {
						padding-top: 2rem;
					}

			.row.gtr-150 {
				margin-top: 0;
				margin-left: -3rem;
			}

				.row.gtr-150 > * {
					padding: 0 0 0 3rem;
				}

				.row.gtr-150.gtr-uniform {
					margin-top: -3rem;
				}

					.row.gtr-150.gtr-uniform > * {
						padding-top: 3rem;
					}

			.row.gtr-200 {
				margin-top: 0;
				margin-left: -4rem;
			}

				.row.gtr-200 > * {
					padding: 0 0 0 4rem;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -4rem;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 4rem;
					}

	}

	@media screen and (max-width: 360px) {

		.row {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			align-items: stretch;
		}

			.row > * {
				box-sizing: border-box;
			}

			.row.gtr-uniform > * > :last-child {
				margin-bottom: 0;
			}

			.row.aln-left {
				justify-content: flex-start;
			}

			.row.aln-center {
				justify-content: center;
			}

			.row.aln-right {
				justify-content: flex-end;
			}

			.row.aln-top {
				align-items: flex-start;
			}

			.row.aln-middle {
				align-items: center;
			}

			.row.aln-bottom {
				align-items: flex-end;
			}

			.row > .imp-xxsmall {
				order: -1;
			}

			.row > .col-1-xxsmall {
				width: 8.33333%;
			}

			.row > .off-1-xxsmall {
				margin-left: 8.33333%;
			}

			.row > .col-2-xxsmall {
				width: 16.66667%;
			}

			.row > .off-2-xxsmall {
				margin-left: 16.66667%;
			}

			.row > .col-3-xxsmall {
				width: 25%;
			}

			.row > .off-3-xxsmall {
				margin-left: 25%;
			}

			.row > .col-4-xxsmall {
				width: 33.33333%;
			}

			.row > .off-4-xxsmall {
				margin-left: 33.33333%;
			}

			.row > .col-5-xxsmall {
				width: 41.66667%;
			}

			.row > .off-5-xxsmall {
				margin-left: 41.66667%;
			}

			.row > .col-6-xxsmall {
				width: 50%;
			}

			.row > .off-6-xxsmall {
				margin-left: 50%;
			}

			.row > .col-7-xxsmall {
				width: 58.33333%;
			}

			.row > .off-7-xxsmall {
				margin-left: 58.33333%;
			}

			.row > .col-8-xxsmall {
				width: 66.66667%;
			}

			.row > .off-8-xxsmall {
				margin-left: 66.66667%;
			}

			.row > .col-9-xxsmall {
				width: 75%;
			}

			.row > .off-9-xxsmall {
				margin-left: 75%;
			}

			.row > .col-10-xxsmall {
				width: 83.33333%;
			}

			.row > .off-10-xxsmall {
				margin-left: 83.33333%;
			}

			.row > .col-11-xxsmall {
				width: 91.66667%;
			}

			.row > .off-11-xxsmall {
				margin-left: 91.66667%;
			}

			.row > .col-12-xxsmall {
				width: 100%;
			}

			.row > .off-12-xxsmall {
				margin-left: 100%;
			}

			.row.gtr-0 {
				margin-top: 0;
				margin-left: 0rem;
			}

				.row.gtr-0 > * {
					padding: 0 0 0 0rem;
				}

				.row.gtr-0.gtr-uniform {
					margin-top: 0rem;
				}

					.row.gtr-0.gtr-uniform > * {
						padding-top: 0rem;
					}

			.row.gtr-25 {
				margin-top: 0;
				margin-left: -0.5rem;
			}

				.row.gtr-25 > * {
					padding: 0 0 0 0.5rem;
				}

				.row.gtr-25.gtr-uniform {
					margin-top: -0.5rem;
				}

					.row.gtr-25.gtr-uniform > * {
						padding-top: 0.5rem;
					}

			.row.gtr-50 {
				margin-top: 0;
				margin-left: -1rem;
			}

				.row.gtr-50 > * {
					padding: 0 0 0 1rem;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -1rem;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 1rem;
					}

			.row {
				margin-top: 0;
				margin-left: -2rem;
			}

				.row > * {
					padding: 0 0 0 2rem;
				}

				.row.gtr-uniform {
					margin-top: -2rem;
				}

					.row.gtr-uniform > * {
						padding-top: 2rem;
					}

			.row.gtr-150 {
				margin-top: 0;
				margin-left: -3rem;
			}

				.row.gtr-150 > * {
					padding: 0 0 0 3rem;
				}

				.row.gtr-150.gtr-uniform {
					margin-top: -3rem;
				}

					.row.gtr-150.gtr-uniform > * {
						padding-top: 3rem;
					}

			.row.gtr-200 {
				margin-top: 0;
				margin-left: -4rem;
			}

				.row.gtr-200 > * {
					padding: 0 0 0 4rem;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -4rem;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 4rem;
					}

	}


	@media screen and (max-width: 480px) {

		form > .fields {
			width: calc(100% + 3rem);
			margin: -1.5rem 0 2rem -1.5rem;
		}

			form > .fields > .field {
				padding: 1.5rem 0 0 1.5rem;
				width: calc(100% - 1.5rem);
			}

				form > .fields > .field.half {
					width: calc(100% - 1.5rem);
				}

				form > .fields > .field.third {
					width: calc(100% - 1.5rem);
				}

				form > .fields > .field.quarter {
					width: calc(100% - 1.5rem);
				}

	}



	@media screen and (max-width: 480px) {

		ul.actions:not(.fixed) {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
			width: 100% !important;
		}

			ul.actions:not(.fixed) li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				padding: 1rem 0 0 0;
				text-align: center;
				width: 100%;
			}

				ul.actions:not(.fixed) li > * {
					width: 100%;
				}

				ul.actions:not(.fixed) li:first-child {
					padding-top: 0;
				}

				ul.actions:not(.fixed) li input[type="submit"],
				ul.actions:not(.fixed) li input[type="reset"],
				ul.actions:not(.fixed) li input[type="button"],
				ul.actions:not(.fixed) li button,
				ul.actions:not(.fixed) li .button {
					width: 100%;
				}

					ul.actions:not(.fixed) li input[type="submit"].icon:before,
					ul.actions:not(.fixed) li input[type="reset"].icon:before,
					ul.actions:not(.fixed) li input[type="button"].icon:before,
					ul.actions:not(.fixed) li button.icon:before,
					ul.actions:not(.fixed) li .button.icon:before {
						margin-left: -0.5rem;
					}

	}


	@media screen and (max-width: 1680px) {

		.banner.style1 .content {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.banner.style1 .content {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.banner.style1 .content {
			padding: 3.75rem 3rem 1.75rem 3rem ;
		}

	}

	@media screen and (max-width: 736px) {

		.banner.style1 .content {
			padding: 2.5rem 2rem 0.5rem 2rem ;
		}

	}

	@media screen and (orientation: portrait) {

		.banner.style1 {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center;
		}

			.banner.style1 .content {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				width: 100%;
				max-width: 100%;
			}

			.banner.style1 .image {
				width: 100%;
				max-width: 100%;
				height: 45vh;
			}

	}


	@media screen and (orientation: portrait) {

		.banner.style1.fullscreen .content {
			min-height: 50vh;
		}

		.banner.style1.fullscreen .image {
			height: 50vh;
		}

	}


	@media screen and (orientation: portrait) {

		.banner.style1.orient-right {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

	}


	@media screen and (orientation: portrait) {

		.banner.style1.content-align-right {
			text-align: center;
		}

	}




	@media screen and (max-width: 1680px) {

		.banner.style2 {
			padding: 3.75rem 3.75rem 1.75rem 3.75rem ;
		}

			.banner.style2 .content {
				padding: 3.75rem 3.75rem 1.75rem 3.75rem ;
			}

	}

	@media screen and (max-width: 1280px) {

		.banner.style2 {
			padding: 4rem 3rem 2rem 3rem ;
		}

			.banner.style2 .content {
				padding: 4rem 3rem 2rem 3rem ;
			}

	}

	@media screen and (max-width: 980px) {

		.banner.style2 {
			padding: 3rem 3rem 1rem 3rem ;
		}

			.banner.style2 .content {
				padding: 3.75rem 2.25rem 1.75rem 2.25rem ;
			}

	}

	@media screen and (max-width: 736px) {

		.banner.style2 {
			padding: 2rem 2rem 0.1rem 2rem ;
		}

			.banner.style2 .content {
				padding: 2.5rem 1.5rem 0.5rem 1.5rem ;
			}

	}



	@media screen and (max-width: 1680px) {

		.banner.style3 {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.banner.style3 {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.banner.style3 {
			padding: 3.75rem 3rem 1.75rem 3rem ;
		}

			.banner.style3 .image {
				width: 18.375rem;
				height: 18.375rem;
			}

	}

	@media screen and (max-width: 736px) {

		.banner.style3 {
			padding: 2.5rem 2rem 0.5rem 2rem ;
			-moz-align-items: -moz-flex-start;
			-webkit-align-items: -webkit-flex-start;
			-ms-align-items: -ms-flex-start;
			align-items: flex-start;
		}

			.banner.style3 .image {
				width: 15.75rem;
				height: 15.75rem;
				margin: 0 2rem 2rem 0;
			}

	}

	@media screen and (orientation: portrait) {

		.banner.style3 {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center;
		}

			.banner.style3 .content {
				width: 34rem;
				max-width: 100%;
			}

			.banner.style3 .image {
				margin-right: 0;
			}

	}


	@media screen and (max-width: 736px) {

		.banner.style3.orient-left .image {
			margin: 0 0 2rem 2rem;
		}

	}

	@media screen and (orientation: portrait) {

		.banner.style3.orient-left {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

			.banner.style3.orient-left .image {
				margin-left: 0;
			}

	}


	@media screen and (max-width: 1680px) {

		.banner.style4 {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.banner.style4 {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.banner.style4 {
			padding: 3.75rem 3rem 1.75rem 3rem ;
		}

			.banner.style4 .image {
				width: 11.375rem;
				height: 20.22222rem;
				margin-top: 2.1875rem;
				margin-bottom: 4.625rem;
			}

				.banner.style4 .image:before {
					height: 2.1875rem;
					background-size: 56px 28px;
					margin-top: -2.1875rem;
					border-radius: 0.875rem 0.875rem 0 0;
				}

				.banner.style4 .image:after {
					height: 2.625rem;
					background-size: 56px 28px;
					margin-bottom: -2.625rem;
					border-radius: 0 0 0.875rem 0.875rem;
				}

	}

	@media screen and (max-width: 736px) {

		.banner.style4 {
			padding: 2.5rem 2rem 0.5rem 2rem ;
			-moz-align-items: -moz-flex-start;
			-webkit-align-items: -webkit-flex-start;
			-ms-align-items: -ms-flex-start;
			align-items: flex-start;
		}

			.banner.style4 .image {
				width: 8.125rem;
				height: 14.44444rem;
				margin-top: 1.5625rem;
				margin-bottom: 3.875rem;
			}

				.banner.style4 .image:before {
					height: 1.5625rem;
					background-size: 40px 20px;
					margin-top: -1.5625rem;
					border-radius: 0.625rem 0.625rem 0 0;
				}

				.banner.style4 .image:after {
					height: 1.875rem;
					background-size: 40px 20px;
					margin-bottom: -1.875rem;
					border-radius: 0 0 0.625rem 0.625rem;
				}

	}

	@media screen and (orientation: portrait) {

		.banner.style4 {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center;
		}

			.banner.style4 .content {
				width: 34rem;
				max-width: 100%;
			}

			.banner.style4 .image {
				margin-right: 0;
				margin-left: 0;
			}

	}


	@media screen and (orientation: portrait) {

		.banner.style4.orient-left {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

			.banner.style4.orient-left .image {
				margin-right: 0;
				margin-left: 0;
			}

	}



	@media screen and (max-width: 1680px) {

		.banner.style5 {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.banner.style5 {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.banner.style5 {
			padding: 3.75rem 3rem 1.75rem 3rem ;
		}

	}

	@media screen and (max-width: 736px) {

		.banner.style5 {
			padding: 2.5rem 2rem 0.5rem 2rem ;
		}

	}


	@media screen and (max-width: 1680px) {

		.spotlight.style1 .content {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.spotlight.style1 .content {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.spotlight.style1 .content {
			padding: 3.75rem 3rem 1.75rem 3rem ;
			width: 50%;
			min-width: 0;
		}

		.spotlight.style1 .image {
			width: 50%;
			min-width: 0;
		}

	}

	@media screen and (max-width: 736px) {

		.spotlight.style1 .content {
			padding: 2.5rem 2rem 0.5rem 2rem ;
		}

	}

	@media screen and (max-width: 736px) and (orientation: portrait) {

		.spotlight.style1 {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center !important;
		}

			.spotlight.style1 .content {
				width: 100%;
			}

			.spotlight.style1 .image {
				width: 100%;
			}

				.spotlight.style1 .image img {
					position: relative;
				}

	}

		.spotlight.style1.orient-right {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

	@media screen and (max-width: 736px) and (orientation: portrait) {

		.spotlight.style1.orient-right {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

	}


	@media screen and (max-width: 1680px) {

		.spotlight.style2 {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.spotlight.style2 {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.spotlight.style2 {
			padding: 3.75rem 3rem 1.75rem 3rem ;
		}

			.spotlight.style2 .image {
				width: 18.375rem;
				height: 18.375rem;
			}

	}

	@media screen and (max-width: 736px) {

		.spotlight.style2 {
			padding: 2.5rem 2rem 0.5rem 2rem ;
			-moz-align-items: -moz-flex-start;
			-webkit-align-items: -webkit-flex-start;
			-ms-align-items: -ms-flex-start;
			align-items: flex-start;
		}

			.spotlight.style2 .image {
				width: 15.75rem;
				height: 15.75rem;
				margin: 0 2rem 2rem 0;
			}

	}

	@media screen and (orientation: portrait) {

		.spotlight.style2 {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center !important;
		}

			.spotlight.style2 .content {
				width: 34rem;
				max-width: 100%;
			}

			.spotlight.style2 .image {
				margin-right: 0;
			}

	}


	@media screen and (max-width: 736px) {

		.spotlight.style2.orient-left .image {
			margin: 0 0 2rem 2rem;
		}

	}

	@media screen and (orientation: portrait) {

		.spotlight.style2.orient-left {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

			.spotlight.style2.orient-left .image {
				margin-left: 0;
			}

	}

		
	@media screen and (max-width: 1680px) {

		.spotlight.style3 {
			padding: 5rem 5rem 3rem 5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.spotlight.style3 {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.spotlight.style3 {
			padding: 3.75rem 3rem 1.75rem 3rem ;
		}

			.spotlight.style3 .image {
				width: 11.375rem;
				height: 20.22222rem;
				margin-top: 2.1875rem;
				margin-bottom: 4.625rem;
			}

				.spotlight.style3 .image:before {
					height: 2.1875rem;
					background-size: 56px 28px;
					margin-top: -2.1875rem;
					border-radius: 0.875rem 0.875rem 0 0;
				}

				.spotlight.style3 .image:after {
					height: 2.625rem;
					background-size: 56px 28px;
					margin-bottom: -2.625rem;
					border-radius: 0 0 0.875rem 0.875rem;
				}

	}

	@media screen and (max-width: 736px) {

		.spotlight.style3 {
			padding: 2.5rem 2rem 0.5rem 2rem ;
			-moz-align-items: -moz-flex-start;
			-webkit-align-items: -webkit-flex-start;
			-ms-align-items: -ms-flex-start;
			align-items: flex-start;
		}

			.spotlight.style3 .image {
				width: 8.125rem;
				height: 14.44444rem;
				margin-top: 1.5625rem;
				margin-bottom: 3.875rem;
			}

				.spotlight.style3 .image:before {
					height: 1.5625rem;
					background-size: 40px 20px;
					margin-top: -1.5625rem;
					border-radius: 0.625rem 0.625rem 0 0;
				}

				.spotlight.style3 .image:after {
					height: 1.875rem;
					background-size: 40px 20px;
					margin-bottom: -1.875rem;
					border-radius: 0 0 0.625rem 0.625rem;
				}

	}

	@media screen and (orientation: portrait) {

		.spotlight.style3 {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			text-align: center !important;
		}

			.spotlight.style3 .content {
				width: 34rem;
				max-width: 100%;
			}

			.spotlight.style3 .image {
				margin-right: 0;
				margin-left: 0;
			}

	}


	@media screen and (orientation: portrait) {

		.spotlight.style3.orient-left {
			-moz-flex-direction: column-reverse;
			-webkit-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

			.spotlight.style3.orient-left .image {
				margin-right: 0;
				margin-left: 0;
			}

	}

		

	@media screen and (max-width: 1680px) {

		.spotlight.style4 {
			padding: 5rem 3.75rem 3rem 3.75rem ;
		}

			.spotlight.style4 .content {
				padding: 2.5rem 2.5rem 0.5rem 2.5rem ;
			}

	}

	@media screen and (max-width: 1280px) {

		.spotlight.style4 {
			padding: 4rem 3rem 2rem 3rem ;
		}

			.spotlight.style4 .content {
				padding: 3rem 3rem 1rem 3rem ;
			}

	}

	@media screen and (max-width: 980px) {

		.spotlight.style4 {
			padding: 3rem 2.25rem 1rem 2.25rem ;
		}

			.spotlight.style4 .content {
				padding: 2.25rem 2.25rem 0.25rem 2.25rem ;
			}

	}

	@media screen and (max-width: 736px) {

		.spotlight.style4 {
			padding: 2rem 1.5rem 0.1rem 1.5rem ;
		}

			.spotlight.style4 .content {
				padding: 1.5rem 1.5rem 0.1rem 1.5rem ;
			}

	}

	@media screen and (max-width: 480px) {

		.spotlight.style4 .content {
			max-width: 80%;
		}

	}



	@media screen and (max-width: 1680px) {

		.spotlight.style5 {
			padding: 5rem 3.75rem 3rem 3.75rem ;
		}

			.spotlight.style5 .content {
				padding: 2.5rem 2.5rem 0.5rem 2.5rem ;
			}

	}

	@media screen and (max-width: 1280px) {

		.spotlight.style5 {
			padding: 4rem 3rem 2rem 3rem ;
		}

			.spotlight.style5 .content {
				padding: 3rem 3rem 1rem 3rem ;
			}

	}

	@media screen and (max-width: 980px) {

		.spotlight.style5 {
			padding: 3rem 2.25rem 1rem 2.25rem ;
		}

			.spotlight.style5 .content {
				padding: 2.25rem 2.25rem 0.25rem 2.25rem ;
			}

	}

	@media screen and (max-width: 736px) {

		.spotlight.style5 {
			padding: 2rem 1.5rem 0.1rem 1.5rem ;
		}

			.spotlight.style5 .content {
				padding: 1.5rem 1.5rem 0.1rem 1.5rem ;
			}

	}

	@media screen and (max-width: 480px) {

		.spotlight.style5 .content {
			max-width: 80%;
		}

	}



	@media screen and (max-width: 1280px) {

		.gallery.style1 article {
			width: 33.33333%;
		}

			.gallery.style1 article .caption {
				padding: 1rem;
			}

	}

	@media screen and (max-width: 980px) {

		.gallery.style1 article {
			width: 50%;
		}

			.gallery.style1 article .caption {
				padding: 1rem;
			}

	}

	@media screen and (max-width: 480px) {

		.gallery.style1 article {
			width: 100%;
		}

			.gallery.style1 article .caption {
				padding: 1rem;
			}

	}		

	@media screen and (max-width: 1280px) {

		.gallery.style1.small article {
			width: 25%;
		}

			.gallery.style1.small article .caption {
				padding: 1rem;
			}

	}

	@media screen and (max-width: 980px) {

		.gallery.style1.small article {
			width: 33.33333%;
		}

			.gallery.style1.small article .caption {
				padding: 1rem;
			}

	}

	@media screen and (max-width: 480px) {

		.gallery.style1.small article {
			width: 50%;
		}

			.gallery.style1.small article .caption {
				padding: 1rem;
			}

	}


	@media screen and (max-width: 1280px) {

		.gallery.style1.big article {
			width: 50%;
		}

			.gallery.style1.big article .caption {
				padding: 2rem;
			}

	}

	@media screen and (max-width: 980px) {

		.gallery.style1.big article {
			width: 50%;
		}

			.gallery.style1.big article .caption {
				padding: 2rem;
			}

	}

	@media screen and (max-width: 480px) {

		.gallery.style1.big article {
			width: 100%;
		}

			.gallery.style1.big article .caption {
				padding: 1rem;
			}

	}



	@media screen and (max-width: 980px) {

		.gallery.style2 article .caption {
			padding: 2rem;
		}

	}

	@media screen and (max-width: 736px) {

		.gallery.style2 article .caption {
			padding: 2rem;
		}

	}

/*.gallery.style2.small article {
	width: 17.5rem;
}

	.gallery.style2.small article .caption {
		padding: 2rem;
	}
*/
	@media screen and (max-width: 980px) {

		.gallery.style2.small article .caption {
			padding: 2rem;
		}

	}

	@media screen and (max-width: 736px) {

		.gallery.style2.small article .caption {
			padding: 2rem;
		}

	}


	@media screen and (max-width: 980px) {

		.gallery.style2.big article .caption {
			padding: 3rem;
		}

	}

	@media screen and (max-width: 736px) {

		.gallery.style2.big article .caption {
			padding: 2rem;
		}

	}



	@media screen and (max-width: 980px) {

		.gallery.lightbox .modal .inner img {
			max-width: 100vw;
		}

	}


	@media screen and (max-width: 1680px) {

		.wrapper.style1 > .inner {
			padding: 5rem 2.5rem 3rem 2.5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.wrapper.style1 > .inner {
			padding: 4rem 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.wrapper.style1 > .inner {
			padding: 4.5rem 3rem 2.5rem 3rem ;
		}

	}

	@media screen and (max-width: 736px) {

		.wrapper.style1 > .inner {
			padding: 3rem 2rem 1rem 2rem ;
		}

	}


	@media screen and (max-width: 1680px) {

		.wrapper.style2 {
			padding: 5rem;
		}

			.wrapper.style2 > .inner {
				padding: 3.75rem 2.5rem 1.75rem 2.5rem ;
			}

	}

	@media screen and (max-width: 1280px) {

		.wrapper.style2 {
			padding: 4rem;
		}

			.wrapper.style2 > .inner {
				padding: 3rem 2rem 1rem 2rem ;
			}

	}

	@media screen and (max-width: 980px) {

		.wrapper.style2 {
			padding: 2.25rem;
		}

			.wrapper.style2 > .inner {
				padding: 3rem 2.25rem 1rem 2.25rem ;
			}

	}

	@media screen and (max-width: 736px) {

		.wrapper.style2 {
			padding: 1.5rem;
		}

			.wrapper.style2 > .inner {
				padding: 2rem 1.5rem 0.1rem 1.5rem ;
			}

	}





	@media screen and (max-width: 1280px) {

		.items.style1.small > *:nth-child(-n + 4) {
			border-top-width: 1px;
		}

		.items.style1.small > *:nth-child(4n + 1) {
			border-left-width: 1px;
		}

		.items.style1.small > * {
			padding: 2.1875rem 2.1875rem 0.1875rem 2.1875rem ;
			width: 33.33333%;
		}

			.items.style1.small > *:nth-child(-n + 3) {
				border-top-width: 0;
			}

			.items.style1.small > *:nth-child(3n + 1) {
				border-left-width: 0;
			}

	}

	@media screen and (max-width: 980px) {

		.items.style1.medium > *:nth-child(-n + 3) {
			border-top-width: 1px;
		}

		.items.style1.medium > *:nth-child(3n + 1) {
			border-left-width: 1px;
		}

		.items.style1.medium > * {
			padding: 3.5rem 3.5rem 1.5rem 3.5rem ;
			width: 50%;
		}

			.items.style1.medium > *:nth-child(-n + 2) {
				border-top-width: 0;
			}

			.items.style1.medium > *:nth-child(2n + 1) {
				border-left-width: 0;
			}

		.items.style1.small > *:nth-child(-n + 3) {
			border-top-width: 1px;
		}

		.items.style1.small > *:nth-child(3n + 1) {
			border-left-width: 1px;
		}

		.items.style1.small > * {
			padding: 3.5rem 3.5rem 1.5rem 3.5rem ;
			width: 50%;
		}

			.items.style1.small > *:nth-child(-n + 2) {
				border-top-width: 0;
			}

			.items.style1.small > *:nth-child(2n + 1) {
				border-left-width: 0;
			}

	}

	@media screen and (max-width: 480px) {

		.items.style1.big > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}

		.items.style1.big > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}

		.items.style1.big > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}

			.items.style1.big > *:nth-child(-n + 1) {
				border-top-width: 0;
			}

			.items.style1.big > *:nth-child(1n + 1) {
				border-left-width: 0;
			}

		.items.style1.medium > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}

		.items.style1.medium > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}

		.items.style1.medium > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}

			.items.style1.medium > *:nth-child(-n + 1) {
				border-top-width: 0;
			}

			.items.style1.medium > *:nth-child(1n + 1) {
				border-left-width: 0;
			}

		.items.style1.small > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}

		.items.style1.small > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}

		.items.style1.small > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}

			.items.style1.small > *:nth-child(-n + 1) {
				border-top-width: 0;
			}

			.items.style1.small > *:nth-child(1n + 1) {
				border-left-width: 0;
			}

		.items.style1.big > *, .items.style1.medium > *, .items.style1.small > * {
			padding-left: 0;
			padding-right: 0;
		}

		.items.style1.big > :first-child, .items.style1.medium > :first-child, .items.style1.small > :first-child {
			padding-top: 0;
		}

		.items.style1.big > :last-child, .items.style1.medium > :last-child, .items.style1.small > :last-child {
			padding-bottom: 0;
		}

			.items.style1.big > :last-child > .inner > :last-child, .items.style1.medium > :last-child > .inner > :last-child, .items.style1.small > :last-child > .inner > :last-child {
				margin-bottom: 0;
			}

	}		

	@media screen and (max-width: 1280px) {

		.items.style2.small > *:nth-child(-n + 4) {
			border-top-width: 1px;
		}

		.items.style2.small > *:nth-child(4n + 1) {
			border-left-width: 1px;
		}

		.items.style2.small > * {
			padding: 2.1875rem 2.1875rem 0.1875rem 2.1875rem ;
			width: 33.33333%;
		}

			.items.style2.small > *:nth-child(-n + 3) {
				border-top-width: 0;
			}

			.items.style2.small > *:nth-child(3n + 1) {
				border-left-width: 0;
			}

	}

	@media screen and (max-width: 980px) {

		.items.style2.medium > *:nth-child(-n + 3) {
			border-top-width: 1px;
		}

		.items.style2.medium > *:nth-child(3n + 1) {
			border-left-width: 1px;
		}

		.items.style2.medium > * {
			padding: 3.5rem 3.5rem 1.5rem 3.5rem ;
			width: 50%;
		}

			.items.style2.medium > *:nth-child(-n + 2) {
				border-top-width: 0;
			}

			.items.style2.medium > *:nth-child(2n + 1) {
				border-left-width: 0;
			}

		.items.style2.small > *:nth-child(-n + 3) {
			border-top-width: 1px;
		}

		.items.style2.small > *:nth-child(3n + 1) {
			border-left-width: 1px;
		}

		.items.style2.small > * {
			padding: 3.5rem 3.5rem 1.5rem 3.5rem ;
			width: 50%;
		}

			.items.style2.small > *:nth-child(-n + 2) {
				border-top-width: 0;
			}

			.items.style2.small > *:nth-child(2n + 1) {
				border-left-width: 0;
			}

	}

	@media screen and (max-width: 480px) {

		.items.style2.big > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}

		.items.style2.big > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}

		.items.style2.big > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}

			.items.style2.big > *:nth-child(-n + 1) {
				border-top-width: 0;
			}

			.items.style2.big > *:nth-child(1n + 1) {
				border-left-width: 0;
			}

		.items.style2.medium > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}

		.items.style2.medium > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}

		.items.style2.medium > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}

			.items.style2.medium > *:nth-child(-n + 1) {
				border-top-width: 0;
			}

			.items.style2.medium > *:nth-child(1n + 1) {
				border-left-width: 0;
			}

		.items.style2.small > *:nth-child(-n + 2) {
			border-top-width: 1px;
		}

		.items.style2.small > *:nth-child(2n + 1) {
			border-left-width: 1px;
		}

		.items.style2.small > * {
			padding: 2.625rem 2.625rem 0.625rem 2.625rem ;
			width: 100%;
		}

			.items.style2.small > *:nth-child(-n + 1) {
				border-top-width: 0;
			}

			.items.style2.small > *:nth-child(1n + 1) {
				border-left-width: 0;
			}

	}


	@media screen and (max-width: 1280px) {

		.items.style3.small > * {
			padding: 1.09375rem 1.09375rem 0.1rem 1.09375rem ;
			width: 33.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.items.style3.medium > * {
			padding: 1.75rem 1.75rem 0.1rem 1.75rem ;
			width: 50%;
		}

		.items.style3.small > * {
			padding: 1.75rem 1.75rem 0.1rem 1.75rem ;
			width: 50%;
		}

	}

	@media screen and (max-width: 736px) {

		.items.style3 {
			margin: 2rem 0;
		}

	}

	@media screen and (max-width: 480px) {

		.items.style3.big > * {
			padding: 1.3125rem 1.3125rem 0.1rem 1.3125rem ;
			width: 100%;
		}

		.items.style3.medium > * {
			padding: 1.3125rem 1.3125rem 0.1rem 1.3125rem ;
			width: 100%;
		}

		.items.style3.small > * {
			padding: 1.3125rem 1.3125rem 0.1rem 1.3125rem ;
			width: 100%;
		}

		.items.style3.big > *, .items.style3.medium > *, .items.style3.small > * {
			padding-left: 0;
			padding-right: 0;
		}

		.items.style3.big > :first-child, .items.style3.medium > :first-child, .items.style3.small > :first-child {
			padding-top: 0;
		}

		.items.style3.big > :last-child, .items.style3.medium > :last-child, .items.style3.small > :last-child {
			padding-bottom: 0;
		}

			.items.style3.big > :last-child > .inner > :last-child, .items.style3.medium > :last-child > .inner > :last-child, .items.style3.small > :last-child > .inner > :last-child {
				margin-bottom: 0;
			}

	}



	@media screen and (max-width: 980px) {

		.index > * > header {
			width: 11rem;
		}

	}

	@media screen and (max-width: 736px) {

		.index > * > header {
			width: 10rem;
		}

	}

	@media screen and (max-width: 480px) {

		.index > * {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}

			.index > * > header {
				width: 100%;
			}

	}
